<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <title>Digital image processing</title>
  </head>
  <body>
    <v-app id="app">
      <v-main>
        <v-card class="ma-2 pa-1 d-inline-block">
          <v-file-input
            v-model="file"
            show-size
            style="width: 200px"
            label="Select an image"
            prepend-icon="mdi-camera"
            accept="image/png, image/jpeg"
            @change="imageChanged"
          ></v-file-input>
          <img ref="srcImage" style="width: 200px" :src="imgsrc" />
        </v-card>
        <canvas
          ref="originalCanvas"
          :width="width"
          :height="height"
          style="display: none"
        ></canvas>
        <v-card
          class="ma-2 pa-1 d-inline-block"
          v-for="(m,s) in cards"
          :key="s"
        >
          <v-app-bar flat color="rgba(0, 0, 0, 0)">
            <v-toolbar-title> {{s}} </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-menu>
              <template v-slot:activator="{ on, attrs }">
                <v-btn v-bind="attrs" v-on="on" icon>
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item-group color="primary">
                  <v-list-item
                    v-for="(action, index) in actions"
                    :key="index"
                    @click="action.fun(s)"
                  >
                    <v-list-item-content>
                      <v-list-item-title
                        v-text="action.name"
                      ></v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-menu>
          </v-app-bar>
          <v-slider
            v-if="!!m.slider"
            :min="m.slider.min"
            :max="m.slider.max"
            :disabled="m.slider.disabled"
            v-model="m.slider.value"
            @change="m.fun"
            thumb-label
          >
            <template v-slot:append>
              <v-text-field
                v-model="m.slider.value"
                class="mt-0 pt-0"
                hide-details
                single-line
                type="number"
                style="width: 60px"
              ></v-text-field> </template
          ></v-slider>
          <canvas
            :id="m.id"
            :width="width"
            :height="height"
            style="width: 200px"
          ></canvas>
        </v-card>
      </v-main>
    </v-app>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="./t.js"></script>
    <script>
      new Vue({
        //TODO 关闭canvas的抗锯齿功能
        el: "#app",
        vuetify: new Vuetify(),
        data() {
          return {
            cards: {
              quantify: {
                id: "quantify",
                ctx: null,
                slider: {
                  min: 2,
                  max: 128,
                  value: 64,
                  disabled: false,
                },
                min: 2,
                max: 128,
                fun: () => {
                  this.cards.quantify.ctx.putImageData(
                    quantify(this.imageData, this.cards.quantify.slider.value),
                    0,
                    0
                  );
                },
              },
              grayscale: {
                id: "grayscale",
                ctx: null,
                fun: () => {
                  this.cards.grayscale.ctx.putImageData(
                    grayscale(this.imageData),
                    0,
                    0
                  );
                },
              },
              invert: {
                id: "invert",
                ctx: null,
                fun: () => {
                  this.cards.invert.ctx.putImageData(
                    invert(this.imageData),
                    0,
                    0
                  );
                },
              },
              gaussian: {
                id: "gaussian",
                ctx: null,
                slider: {
                  min: 2,
                  max: 16,
                  value: 3,
                  disabled: false,
                },
                fun: () => {
                  this.cards.gaussian.slider.disabled = true;
                  this.cards.gaussian.ctx.putImageData(
                    gaussian_filter(
                      this.imageData,
                      3,
                      this.cards.gaussian.slider.value
                    ),
                    0,
                    0
                  );
                  this.cards.gaussian.slider.disabled = false;
                },
              },
              uniform: {
                id: "uniform",
                ctx: null,
                slider: {
                  min: 2,
                  max: 16,
                  value: 3,
                  disabled: false,
                },
                fun: () => {
                  this.cards.uniform.slider.disabled = true;
                  this.cards.uniform.ctx.putImageData(
                    uniform_filter(
                      this.imageData,
                      this.cards.uniform.slider.value
                    ),
                    0,
                    0
                  );
                  this.cards.uniform.slider.disabled = false;
                },
              },
              laplace: {
                id: "laplace",
                ctx: null,
                fun: () => {
                  let worker = new Worker("t.js");
                  worker.postMessage(["laplace", this.imageData]);
                  worker.onmessage = (e) => {
                    this.cards.laplace.ctx.putImageData(e.data, 0, 0);
                  };
                },
              },
              sobel: {
                id: "sobel",
                ctx: null,
                fun: () => {
                  let worker = new Worker("t.js");
                  worker.postMessage(["sobel", this.imageData]);
                  worker.onmessage = (e) => {
                    this.cards.sobel.ctx.putImageData(e.data, 0, 0);
                  };
                },
              },
              minFilter: {
                id: "minFilter",
                ctx: null,
                slider: {
                  min: 2,
                  max: 16,
                  value: 3,
                  disabled: false,
                },
                fun: () => {
                  this.cards.minFilter.slider.disabled = true;
                  let worker = new Worker("t.js");
                  worker.postMessage([
                    "min",
                    this.imageData,
                    this.cards.minFilter.slider.value,
                  ]);
                  worker.onmessage = (e) => {
                    this.cards.minFilter.ctx.putImageData(e.data, 0, 0);
                    this.cards.minFilter.slider.disabled = false;
                  };
                },
              },
              mediumFilter: {
                id: "mediumFilter",
                ctx: null,
                slider: {
                  min: 2,
                  max: 16,
                  value: 3,
                  disabled: false,
                },
                fun: () => {
                  this.cards.mediumFilter.slider.disabled = true;
                  let worker = new Worker("t.js");
                  worker.postMessage([
                    "med",
                    this.imageData,
                    this.cards.mediumFilter.slider.value,
                  ]);
                  worker.onmessage = (e) => {
                    this.cards.mediumFilter.ctx.putImageData(e.data, 0, 0);
                    this.cards.mediumFilter.slider.disabled = false;
                  };
                },
              },
              maxFilter: {
                id: "maxFilter",
                ctx: null,
                slider: {
                  min: 2,
                  max: 16,
                  value: 3,
                  disabled: false,
                },
                fun: () => {
                  this.cards.maxFilter.slider.disabled = true;
                  let worker = new Worker("t.js");
                  worker.postMessage([
                    "max",
                    this.imageData,
                    this.cards.maxFilter.slider.value,
                  ]);
                  worker.onmessage = (e) => {
                    this.cards.maxFilter.ctx.putImageData(e.data, 0, 0);
                    this.cards.maxFilter.slider.disabled = false;
                  };
                },
              },
            },
            actions: {
              save: {
                name: "save",
                fun: (card) => {
                  document
                    .getElementById(this.cards[card]["id"])
                    .toBlob(function (blob) {
                      var a = document.createElement("a");
                      a.download = card;
                      a.href = URL.createObjectURL(blob);
                      a.dispatchEvent(new MouseEvent("click"));
                    });
                },
              },
              copy: {
                name: "copy",
                fun: () => {},
              },
            },
            imageSmoothingEnabled: true,
            canvass: null,
            file: null,
            imgsrc: "img.jpg",
            width: "200",
            height: "267",
            imageData: null,
            ctx: null,
          };
        },
        computed: {},
        mounted() {
          this.canvass = document.getElementsByTagName("canvas");
          for (const card in this.cards) {
            this.cards[card]["ctx"] = document
              .getElementById(this.cards[card]["id"])
              .getContext("2d");
          }
          this.ctx = this.$refs.originalCanvas.getContext("2d");
          this.$refs.srcImage.onload = () => {
            this.width = this.$refs.srcImage.naturalWidth;
            this.height = this.$refs.srcImage.naturalHeight;
            /**
             * 为什么 使用 nextTick？
             * 参考文档 https://vuejs.org/v2/guide/reactivity.html#Async-Update-Queue
             * 如果不使用 nextTick 会导致代码的执行结果和预想的不一样，更改data中的数据实际上并不会立即改变。
             * 实际上是在更改完 canvas 之后才更新的。
             * 而更改 canvas 的 width 或 height 会清空内容导致BUG。
             */
            this.$nextTick(() => {
              console.log(this.width, this.height);
              this.ctx.drawImage(
                this.$refs.srcImage,
                0,
                0,
                this.width,
                this.height
              );
              this.imageData = this.ctx.getImageData(
                0,
                0,
                this.width,
                this.height
              );
            });
          };
        },
        watch: {
          imageData() {
            for (const card in this.cards) {
              this.cards[card]["fun"]();
            }
          },
        },
        methods: {
          imageChanged() {
            if (this.file === null) {
              return;
            }
            console.log(this.file);
            let reader = new FileReader();
            reader.readAsDataURL(this.file);
            reader.addEventListener(
              "load",
              () => {
                this.imgsrc = reader.result;
              },
              false
            );
          },
        },
      });
    </script>
  </body>
</html>
