<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
  </head>
  <body>
    <v-app id="app">
      <v-main>
        <img ref="srcImage" style="width: 200px" :src="imgsrc" />
        <v-file-input
          v-model="file"
          show-size
          style="width: 200px"
          label="Select an image"
          prepend-icon="mdi-camera"
          accept="image/png, image/jpeg"
          @change="imageChanged"
        ></v-file-input>
        <canvas
          ref="originalCanvas"
          :width="width"
          :height="height"
          style="display: none"
        ></canvas>
        <v-card
          class="ma-2 pa-1 d-inline-block"
          v-for="(m,s) in cards"
          :key="s"
        >
          <v-card-title>{{s}}</v-card-title>
          <v-slider min="2" max="128" v-model="m['sliderValue']" thumb-label>
            <template v-slot:append>
              <v-text-field
                v-model="m['sliderValue']"
                class="mt-0 pt-0"
                hide-details
                single-line
                type="number"
                style="width: 60px"
              ></v-text-field> </template
          ></v-slider>
          <canvas
            :id="s"
            :width="width"
            :height="height"
            style="width: 200px"
          ></canvas>
        </v-card>
      </v-main>
    </v-app>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="./t.js"></script>
    <script>
      new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data() {
          return {
            cards: {
              quantify: {
                name: "quantify",
                ctx: null,
                withSliderBar: true,
                sliderValue: 32,
                fun: () => {
                  this.cards["quantify"]["ctx"].putImageData(
                    quantify(
                      this.imageData,
                      this.cards["quantify"]["sliderValue"]
                    ),
                    0,
                    0
                  );
                },
              },
              grayscale: {
                name: "grayscale",
                ctx: null,
                withSliderBar: false,
                sliderValue: 32,
                fun: () => {
                  this.cards["grayscale"]["ctx"].putImageData(
                    grayscale(this.imageData),
                    0,
                    0
                  );
                },
              },
              invert: {
                name: "invert",
                ctx: null,
                withSliderBar: false,
                sliderValue: 32,
                fun: () => {
                  this.cards["invert"]["ctx"].putImageData(
                    invert(this.imageData),
                    0,
                    0
                  );
                },
              },
            },
            file: null,
            imgsrc: "img.jpg",
            width: "200",
            height: "267",
            imageData: null,
            ctx: null,
          };
        },
        mounted() {
          for (const card in this.cards) {
            this.cards[card]["ctx"] = document
              .getElementById(this.cards[card]["name"])
              .getContext("2d");
          }
          this.ctx = this.$refs.originalCanvas.getContext("2d");
          this.$refs.srcImage.onload = () => {
            this.width = this.$refs.srcImage.naturalWidth;
            this.height = this.$refs.srcImage.naturalHeight;
            /**
             * 为什么 使用 nextTick？
             * 参考文档 https://vuejs.org/v2/guide/reactivity.html#Async-Update-Queue
             * 如果不使用 nextTick 会导致代码的执行结果和预想的不一样，更改data中的数据实际上并不会立即改变。
             * 实际上是在更改完 canvas 之后才更新的。
             * 而更改 canvas 的 width 或 height 会清空内容导致BUG。
             */
            this.$nextTick(() => {
              console.log(this.width, this.height);
              this.ctx.drawImage(
                this.$refs.srcImage,
                0,
                0,
                this.width,
                this.height
              );
              this.imageData = this.ctx.getImageData(
                0,
                0,
                this.width,
                this.height
              );
            });
          };
        },
        watch: {
          imageData() {
            for (const card in this.cards) {
              this.cards[card]["fun"]();
            }
          },
          "cards.quantify.sliderValue"() {
            this.cards["quantify"]["fun"]();
          },
        },
        methods: {
          imageChanged() {
            if (this.file === null) {
              return;
            }
            console.log(this.file);
            let reader = new FileReader();
            reader.readAsDataURL(this.file);
            reader.addEventListener(
              "load",
              () => {
                this.imgsrc = reader.result;
              },
              false
            );
          },
        },
      });
    </script>
  </body>
</html>
